.config-section {
    background-color: #4512AE;
    padding: 20px;
    margin-bottom: 64px;
    box-shadow: 0px 18px 12px rgba(0, 0, 0, 0.5);

    h2 {
        color: white;
        font-size: 64pt;
        margin: 0;
    }

    #burger-toggle3 {
        display: none;
    }

    label[for="burger-toggle3"] {
        display: none; 
        position: absolute; 
        top: 2545px; 
        right: 35px; 
        height: 25px;
        width: 35px;
        cursor: pointer;
        z-index: 20;

        &::before,
        &::after,
        span {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: white;
            border-radius: 2px;
            transition: all 0.3s ease;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 11px;
            position: absolute;
            background-color: white; 
            width: 100%;
            height: 3px;
            border-radius: 2px;
            transition: all 0.3s ease;
        }
    }

    .block-container2 {
        width: 90%;
        margin: auto;
    }

    .radio-buttons {
        input[type="radio"] {
            display: none;
        }

        label {
            border: 3px solid white;
            padding: 10px 15px; 
            cursor: pointer;
            background-color: transparent;
            color: white; 
            transition: background-color 0.5s ease, color 0.5s ease, border-color 0.3s ease; 
            font-size: 20pt;

            &:hover {
                background-color: white; 
                color: #290671;
                border-color: #290671; 
            }

            input[type="radio"]:checked + & {
                background-color: white; 
                color: #290671; 
                border-color: #290671; 
            }

            input[type="radio"]:checked + &:hover {
                background-color: white; 
                color: #290671; 
                border-color: #290671; 
            }
        }
    }

    .block-container {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin: 24px;
        flex-wrap: wrap; 
    }

    .block {
        background-color: white;
        border-radius: 28px;
        padding: 28px;
        margin: 12px;
        width: 45%; 
        display: flex;
        flex-direction: column;
        font-size: 20pt; 
        color: #4512AE;
        box-shadow: 10px 18px 12px rgba(0, 0, 0, 0.5);

        h3 {
            color: #4512AE;
            margin: 0;
        }
    }

    .block2 {
        background-color: #8F6DD7;
        border-radius: 28px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        margin: 12px; 
        padding: 28px;
        width: 45%; 
        display: flex;
        flex-direction: column;
        font-size: 20pt; 
        color: #ffffff;
        box-shadow: 10px 18px 12px rgba(0, 0, 0, 0.5);

        h3 {
            color: #ffffff;
            margin: 0;
        }
    }

    .config-table {
        display: flex;
        flex-direction: column;

        img {
            width: 70px;
            height: 70px;
        }

        div {
            display: flex;
            justify-content: space-between; 
            align-items: center;
            margin: 8px 0;
            width: 100%; 
        }

        span {
            overflow-wrap: break-word;
            white-space: normal;
            word-wrap: break-word;
            width: 40%;
        }
    }

    .divider {
        border: 0;
        height: 3px; 
        background-color: #4512AE; 
        margin: 10px 0 20px; 
    }

    .divider3 {
        border: 0;
        height: 3px; 
        background-color: #ffffff; 
        margin: 10px 0 20px; 
    }

    .divider2 {
        height: 4px;
        border: none;
        background-color: white;
        margin: 12px 0 36px 0;
    }

    @media (max-width: 720px) {

        .block-container {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 16px 0;
        }

        label[for="burger-toggle3"] {
            display: block; 
            z-index: 200;
        }

        .radio-buttons {
            display: flex;
            flex-direction: column; 
            align-items: center;

            label {
                text-align: center;
                border: 2px solid white;
                padding: 4px 6px; 
                width: 100%;


                &:hover {
                    background-color: white; 
                    color: #290671;
                    border-color: #290671; 
                }

                input[type="radio"]:checked + & {
                    background-color: white; 
                    color: #290671; 
                    border-color: #290671; 
                }

                input[type="radio"]:checked + &:hover {
                    background-color: white; 
                    color: #290671; 
                    border-color: #290671; 
                }
            }
        }

        #burger-toggle3:checked {
            ~ label {
                &::before {
                    transform: rotate(45deg);
                    top: 10px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 12px;
                }
                span {
                    transform: rotate(-45deg);
                    top: 10px;
                    opacity: 1;
                    position: absolute; 
                }
            }

            ~ .radio-buttons {
                display: flex;
                flex-direction: column; 
                animation: menuFadeIn 0.5s ease forwards;
            }
        }

        @keyframes menuFadeIn {
            from {
                opacity: 0;
                transform: translateY(-10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .radio-buttons {
            display: none; 
        }

        .block, .block2 {
            width: 80%; 
            margin: 12px 0;
        }

        h2 {
            font-size: 22pt;
        }

        .config-table {
            font-size: 10pt;
            
            img{
                width: 52px;
                height: 52px;
            }
        }
    }
}
